<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696999849166-adngiuvrdj5v5f313vert5epirs77o80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696999849166-adngiuvrdj5v5f313vert5epirs77o80</string>
	<key>API_KEY</key>
	<string>AIzaSyDPvHrvAHGqwMUcI1qjBjNvo95_Ja3A--Q</string>
	<key>GCM_SENDER_ID</key>
	<string>696999849166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notiondigital.biblejoy</string>
	<key>PROJECT_ID</key>
	<string>biblejoy-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>biblejoy-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696999849166:ios:d9da876839e51acff6f49f</string>
	<key>DATABASE_URL</key>
	<string>https://biblejoy-ios.firebaseio.com</string>
</dict>
</plist>